<div>
    <div class="row">
        <div class="col-lg-8 col-md-8 panel-primary">
            <div class="panel-heading"><h1>Current Training Plan</h1></div>
            <div class="panel-body">insert training</div>
        </div>
        <div class="col-lg-4 col-md-4 panel-primary">
            <div class="panel-heading"><h1>Body Space</h1></div>
            <div class="panel-body">Insert table for body stats
                <form class="form">
                    <h2>Enter Statistics</h2>
                    <!-- Insert li role presentation to show form-->
                    <label for="height">Height</label>
                    <input type="text" id="height" class="form-control" placeholder="Height" ng-model="height">
                    <label for="weight">Weight</label>
                    <input type="text" id="weight" class="form-control" placeholder="Weight" ng-model="weight">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 panel-primary">
                <div class="panel-heading"><h1>Workout Tracker</h1></div>
                <div class="panel-body"><p><a class="btn btn-lg btn-success" ng-click="goToTracker()" role="button">Track your exercises!</a></p></div>
        </div>
        <div class="col-lg-4 col-md-4 panel-primary">
                 <div class="panel-heading"><h1>Bodyfat Calculator</h1></div>
                 <div class="panel-body"><p><a class="btn btn-lg btn-success" ng-click="goToBodyFat()" role="button">Calculate BodyFat Percentage</a></p></div>
        </div>
        <div class="col-lg-4 col-md-4 panel-primary">
                <div class="panel-heading"><h1>TDEE Calculator</h1></div>
                <div class="panel-body"><p><a class="btn btn-lg btn-success" ng-click="goToTdee()" role="button">Calculate TDEE</a></p></div>
        </div>
    </div>
</div>
