<div>
    Selected Style:
    <div class="btn-group" uib-dropdown>
        <button id="style" type="button" class="btn btn-primary" uib-dropdown-toggle>
          <span ng-if="!$root.trackerStyle">Select Exercise</span>
            <span ng-if="$root.trackerStyle">{{$root.trackerStyle}}</span>
            <span class="caret"></span>

        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Exercise">
          <li role="menuitem" ng-repeat="style in $root.styles"><a ng-click="setStyle(style)">{{style}}</a></li>
        </ul>
    </div>

    <div ng-if="$root.trackerStyle === 'Body Building'">
        <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ng-model="parent.date" show-weeks="false" class="well well-sm"></uib-datepicker>
        </div>
    <div ng-repeat="activity in training track by $index">
        <div class="btn-group" uib-dropdown>
            <button id="Muscle" type="button" class="btn btn-primary" uib-dropdown-toggle>
              <span ng-if="!activity.muscle">Select Muscle</span>
                <span ng-if="activity.muscle">{{activity.muscle}}</span>
                <span class="caret"></span>

            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Muscle">
              <li role="menuitem" ng-repeat="muscle in $root.muscles"><a ng-click="setMuscle(muscle, activity.index)">{{muscle}}</a></li>
            </ul>
        </div>

        <div class="btn-group" uib-dropdown>
            <button id="Exercise" type="button" class="btn btn-primary" uib-dropdown-toggle>
              <span ng-if="!activity.exercise">Select Exercise</span>
                <span ng-if="activity.exercise">{{activity.exercise}}</span>
                <span class="caret"></span>

            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="Exercise">
              <li role="menuitem" ng-repeat="exercise in muscleExercises"><a ng-click="setExercise(exercise.exercise, activity.index)">{{exercise.exercise}}</a></li>
            </ul>
        </div>
        <span ng-repeat="set in activity.sets">
            <label for="reps" class="sr-only">Reps</label>
            <input type="text" id="reps" class="form-control" placeholder="Reps" required="" autofocus="" ng-model="set.reps">
            <label for="weight" class="sr-only">Weight</label>
            <input type="text" id="weight" class="form-control" placeholder="Weight" required="" ng-model="set.weight">
        </span>
        <p><a class="btn btn-lg btn-success" ng-click="addSet($index)" role="button">Add Set!</a></p>

    </div>
        <p><a class="btn btn-lg btn-success" ng-click="addExercise()" role="button">Add Another Exercise!</a></p>
        <p><a class="btn btn-lg btn-success" ng-click="submit()" role="button">Submit!</a></p>

    </div>

    <div ng-if="$root.trackerStyle === 'Crossfit'">
        Crossfit
    </div>

    <div ng-if="$root.trackerStyle === 'Powerlifting'">
        Powerlifting
    </div>

</div>