<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>ExerciseDB</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css">

    <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-route/angular-route.js"></script>
  <script src="/static/bower_components/angular-modal/angular-ui-bootstrap.min.js"></script>

  <script src="/static/js/app.js"></script>
  <script src="/static/js/controllers.js"></script>

</head>
<body ng-app="myApp">
      <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#/bodybuilding">Body Building</a></li>
                    <li role="presentation"><a href="#/crossfit">Crossfit</a></li>
                    <li role="presentation"><a href="#/powerlifting">Powerlifting</a></li>
                    <li role="presentation" ng-if="!$root.loggedIn"><a href="#/signin">Sign In</a></li>
                    <li role="presentation" ng-if="!$root.loggedIn"><a href="#/signup">Sign Up</a></li>
                    <li role="presentation" ng-if="$root.loggedIn"><a href="#/account">{{$root.name}}</a></li>

                </ul>
            </nav>
            <h3 class="text-muted"><a href="#/">ExerciseDB</a></h3>
        </div>

         <div ng-view></div>

        <footer class="footer">
            <p>&copy; ExerciseDB 2016</p>
        </footer>

      </div>
</body>
</html>
